<div class="p-3 mb-2 bg-secondary text-white">
    <a routerLink="/lugares">Lugares</a> / Contacto
</div>
<div class="card mb-3">
<img class="figure-img img-fluid rounded" alt="Responsive image" src="assets\img\vr1.jpg"/> 
<hr>
    <div class="card-body">
            <div class="container">
                <div class="container">
                    <label>Nombre</label>
                    <input type="text" class="form-control">
                    <br>
                    <label>Correo</label>
                    <input type="email" class="form-control">
                    <br>
                    <label>Mensaje</label>
                    <textarea class="form-control"></textarea>
                    <hr>
                    <button class="btn btn-primary">Enviar</button>
                    <button class="btn btn-default" routerLink="/lugares">Cancelar</button> 
                </div>
            </div>
    </div>
</div>

<!-- <div class="p-3 mb-2 bg-secondary text-white">
    <a routerLink="/lugares">Lugares</a> / Contacto
</div>
<div class="container" align = "center">
        <img class="figure-img img-fluid rounded" alt="Responsive image" src="assets\img\vr1.jpg"/> 
</div>
<div class="container">
    <form>
    <div class="container">
        <label>Nombre</label>
        <input type="text" class="form-control">
        <br>
        <label>Correo</label>
        <input type="email" class="form-control">
        <br>
        <label>Mensaje</label>
        <textarea class="form-control"></textarea>
        <hr>
        <button class="btn btn-primary">Enviar</button>
        <button class="btn btn-default" routerLink="/lugares">Cancelar</button> 
    </div>
</form>
</div> -->