<agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
    <hr>
<div class="container">
    <div class="row">
    <div class="col-md-8">
        <h2>Lugares Cercanos</h2>
        <a class="btn btn-primary" routerLink="/crear/new">Crear Nuevo Negocio</a>
        <br><br/>
        <ul class="list-group">
            <ng-container *ngFor="let lug of lugares">
                <a routerLink="/crear/{{lug.id}}"> <li class="list-group-item">{{lug.nombre}}</li></a>
            </ng-container>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Destacados</h2>
    </div>    
    </div>
</div>